server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rt_identity
    username: ${DB_USER:rt_user}
    password: ${DB_PASS:rt_pass}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration

security:
  jwt:
    issuer: redthread-identity
    expiry-minutes: 120
    secret: ${JWT_SECRET:change-me-super-secret}
